<div class="wrap">
  <div class="flexbox-wrapper textcenter">
    <div class="flexbox">
      <div class="flexitem">
        I am a motivated and experienced software engineer with a B.S. in
        Computer Science from Michigan Technological Unviersity. Currently a
        graduate student at University of Michigan-Dearborn mastering in
        Software Engineering. In addition, I work full-time at Ford Motor
        Company as a Software Engineer.
        <div>
          <br />
          <div class="flexitem">
            This website was developed using
            <a href="https://angular.io">Angular</a>. The website source code
            can be viewed
            <a href="https://github.com/cgprzyby/website">here</a>.
          </div>
          <div class="flexitem">Thank you for visiting!</div>
          <br />
          <div class="flexitem">
            <mat-icon>phone</mat-icon>
            <a href="tel:+17344760447">(734) 476-0447</a>
          </div>
          <div class="flexitem">
            <mat-icon>email</mat-icon>
            <a href="mailto:connorprzybyla@gmail.com"
              >connorprzybyla@gmail.com</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
