<div class="textcenter">
  <p>Web application development</p>
  <mat-divider></mat-divider>
  <p>Front-end development - UI/UX</p>
  <mat-divider></mat-divider>
  <p>Microservices + API development</p>
  <mat-divider></mat-divider>
  <p>Application security</p>
  <mat-divider></mat-divider>
  <p>Cloud environments/hosting</p>
  <mat-divider></mat-divider>
  <p>CI/CD</p>
  <mat-divider></mat-divider>

  <!-- <p>I specialize in the following languages:</p>
  <p>Javascript, Typescript, HTML, CSS</p>
  <p>Java EE</p>
  <p>SpringBoot</p>
  <p>Node.js, Express.js</p>
  <p>PL/SQL</p>

  <p>Experience in the following technologies</p>
  <p>Pivotal Cloud Foundry</p>
  <p>ADFS (O-Auth 2 provider)</p>
  <p>Jenkins (build/deployment tool)</p>
  <p>Git</p> -->
</div>
