<div class="textcenter">
  <p>Home - Michigan</p>
  <img src="../../assets/DSC_0072.JPG" height="200" width="300" />
  <img src="../../assets/DSC_0048.JPG" height="200" width="300" />
  <p>Lake Tahoe, California</p>
  <img src="../../assets/DSC_0002.jpeg" height="200" width="300" />
  <p>Street art in Los Angelas, California</p>
  <img src="../../assets/DSC_0130.JPG" height="200" width="300" />
  <p>Thailand</p>
  <img src="../../assets/DSC_0697.JPG" height="200" width="300" />
  <p>Zion National Park, Utah</p>

  <p>Antelope Canyon, Arizona</p>

  <p>Zion National Park, Utah</p>

  <p>Summit County, Colorado</p>

  <p>Patagonia, Argentina</p>
</div>
