/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  position: relative;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.flexspacer {
  flex: 1 1 auto;
}

.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flexbox-wrapper {
  width: 75%;
  margin: auto;
  padding-top: 20px;
}

.textcenter {
  text-align: center;
}
