<div id="home-content-wrapper">
  <div id="dash">
    <img src="../../assets/DSC_0103.JPG" height="200" width="300" />
  </div>

  <div class="flexbox-wrapper">
    <div class="flexbox">
      <mat-card class="home-cards">
        <mat-card-header>
          <mat-card-title>Experience</mat-card-title>
          <mat-card-subtitle>Michigan's Upper Peninsula</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/DSC_0070.JPG"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            30 days spent in a cabin in Michigan's Upper Peninsula. Follow as I
            begin to manage an off-the-grid lifestyle while maintaining my role
            as a full-time software engineer.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openSnackBar()">COMING MAY 15TH</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="home-cards">
        <mat-card-header>
          <mat-card-title>Explore</mat-card-title>
          <mat-card-subtitle>Recent travel experiences</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/DSC_0624.JPG"
          alt="Photo of Ko Rok, Thailand"
        />
        <mat-card-content>
          <p>
            Traveling the world is truly an experience unmatched. Learning new
            culture, meeting amazing people, and visiting unique places around
            the world gives a new appreciation for life.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/travel">ENTER</a>
        </mat-card-actions>
      </mat-card>
      <mat-card class="home-cards">
        <mat-card-header>
          <mat-card-title>Create</mat-card-title>
          <mat-card-subtitle>Build your own online business</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/DSC_0143.JPG"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            Learn how to design and build secure and scalable modern web
            applications following the best development practices.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openSnackBar()">COMING SOON</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
